input { color: #1010c0; }
.buttons, .comment { float: left; clear:both; margin-bottom: 10px; }
.comment { font-style:italic; }
table { border-collapse: collapse; float: left; clear: both; border: 2px solid #4242ae; width: 380px; margin: 4px 0 4px 0px; padding: 2px; background-color: #f8f8f8; }
table tr { border: 1px solid #4242ae; color: #1010c0; height: 25px; }
thead tr { color: #009; border-bottom: solid #77c 2px; background-color: #e0e0e8; }
thead th { padding:5px; }
.hover { cursor: pointer; }
.hover:hover { color: #AD0157; }
#movieList tr td:first-child { width: 250px; }
#movieDetail > div { border: 2px solid #4242ae; width: 280px; margin: 4px 0 4px 4px; padding: 2px; background-color: #f8f8f8; }
table td { padding: 3px; margin: 3px; }
#movieDetail div div { margin: 3px; }
.selected { background-color: yellow; }
#movieDetail input { float: left; padding: 2px; width: 245px; margin: 1px; border: 1px solid #4a4aff }
#movieDetail { float: left; margin-left: 10px; font-weight: bold; font-style: italic; color:#009; }
#movieDetail div { float: left; clear: both; }
#movieDetail input.special { float:none; padding: inherit; width:inherit; margin: 3px; border: inherit; }
#movieDetail .title { padding-top: 8px; }
.close { float: right; cursor: pointer; margin: 6px; }
#addLanguageBtn, #addMovieBtn { float: right; text-decoration: underline; font-style: italic; color: #1010c0; cursor:pointer; padding: 0 5px 0 15px; }
table input { width: 95%; border: 1px solid #000; padding:4px; }
#console { float: left; clear:both; }
