.folderView {
	margin-top: 24px;
}

.folderView li li {
	margin-left: 30px;
}

.toggle {
	cursor: pointer;
	vertical-align: middle;
	margin-right: 7px;
	display: inline-block;
	border: 1px solid #555;
	text-align: center;
	height: 12px;
	width: 12px;
	line-height: 11px;
	background-color: #f8f8f8;
	color: Blue;
}

.remove {
	cursor: pointer;
	vertical-align: middle;
	margin-right: 7px;
}

.spacer {
	margin-right: 7px;
	display: inline-block;
	width: 14px;
}

.folderView ul {
	padding: 0;
	margin: 0;
}

.folderView li {
	margin-left: 8px;
	list-style-type: none;
	padding: 2px;
}

.add {
	cursor: pointer;
	vertical-align: middle;
	margin-right: 7px;
	display: inline-block;
	border: 1px solid #555;
	text-align: center;
	height: 12px;
	width: auto;
	line-height: 11px;
	background-color: #f8f8f8;
	color: Blue;
}
