<!DOCTYPE html> 
<html> 
<head> 
	<title>Backbone Demo: Todos</title> 
	<link href="http://documentcloud.github.com/backbone/examples/todos/todos.css" media="all" rel="stylesheet" type="text/css"/> 
	<script src="http://code.jquery.com/jquery.js" type="text/javascript"></script>
	<script src="http://documentcloud.github.com/backbone/test/vendor/underscore-1.1.6.js"></script> 
	<script src="http://documentcloud.github.com/backbone/backbone.js"></script> 
	<script src="http://documentcloud.github.com/backbone/examples/backbone-localstorage.js"></script> 
</head> 
<body>

<div id="todoapp">
	<h1>Todos - Backbone</h1>

	<div class="content">

		<div id="create-todo">
			<input id="new-todo" placeholder="What needs to be done?" type="text" />
			<span class="ui-tooltip-top" style="display:none;">Press Enter to save this task</span>
		</div>

		<div id="todos">
			<ul id="todo-list"></ul>
		</div>

		<div id="todo-stats"></div>

	</div>
</div>

<ul id="instructions">
	<li>Double-click to edit a todo.</li>
</ul>

<div id="credits">
	Created by
	<br />
	<a href="http://jgn.me/">J&eacute;r&ocirc;me Gravel-Niquet</a>
</div>

<!-- Templates -->
<script type="text/template" id="item-template">
	<div class="todo <%= done ? 'done' : '' %>">
		<div class="display">
			<input class="check" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
			<div class="todo-content"></div>
			<span class="todo-destroy"></span>
		</div>
		<div class="edit">
			<input class="todo-input" type="text" value="" />
		</div>
	</div>
</script>

<script type="text/template" id="stats-template">
	<% if (total) { %>
		<span class="todo-count">
		<span class="number"><%= remaining %></span>
		<span class="word"><%= remaining == 1 ? 'item' : 'items' %></span> left.
		</span>
	<% } %>
	<% if (done) { %>
		<span class="todo-clear">
			<a href="#">
				Clear <span class="number-done"><%= done %></span>
				completed <span class="word-done"><%= done == 1 ? 'item' : 'items' %></span>
			</a>
		</span>
	<% } %>
</script>

<script>
// An example Backbone application contributed by [Jérôme Gravel-Niquet](http://jgn.me/). 
$(function(){
	// Model
	window.Todo = Backbone.Model.extend({
		defaults: {
			content: "empty todo...",
			done: false
		},
		initialize: function() {
			if (!this.get("content")) {
				this.set({
					"content": this.defaults.content
				});
			}
		},
		toggle: function() {
			this.save({done: !this.get("done")});
		}
	});

	// Initialize app
	window.TodoList = Backbone.Collection.extend({
		model: Todo,
		localStorage: new Store("todos"),no
		done: function() {
			return this.filter(function(todo){ return todo.get('done'); });
		},
		remaining: function() {
			return this.without.apply(this, this.done());
		},
		nextOrder: function() {
			if (!this.length) {
				return 1;
			}
			return this.last().get('order') + 1;
		},
		comparator: function(todo) {
			return todo.get('order');
		}
	});

	window.Todos = new TodoList;

	window.TodoView = Backbone.View.extend({
		tagName:  "li",
		template: _.template($('#item-template').html()),
		events: {
			"click .check"              : "toggleDone",
			"dblclick div.todo-content" : "edit",
			"click span.todo-destroy"   : "clear",
			"keypress .todo-input"      : "updateOnEnter"
		},
		initialize: function() {
			this.model.bind('change', this.render, this);
			this.model.bind('destroy', this.remove, this);
		},
		render: function() {
			$(this.el).html(this.template(this.model.toJSON()));
			this.setContent();
			return this;
		},
		setContent: function() {
			var content = this.model.get('content');
			this.$('.todo-content').text(content);
			this.input = this.$('.todo-input');
			this.input.bind('blur', _.bind(this.close, this));
			this.input.val(content);
		},
		toggleDone: function() {
			this.model.toggle();
		},
		edit: function() {
			$(this.el).addClass("editing");
			this.input.focus();
		},
		close: function() {
			this.model.save({content: this.input.val()});
			$(this.el).removeClass("editing");
		},
		updateOnEnter: function(e) {
			if (e.keyCode == 13) {
				this.close();
			}
		},
		remove: function() {
			$(this.el).remove();
		},
		clear: function() {
			this.model.destroy();
		}
	});

	window.AppView = Backbone.View.extend({
		el: $("#todoapp"),
		statsTemplate: _.template($('#stats-template').html()),
		events: {
			"keypress #new-todo":  "createOnEnter",
			"click .todo-clear a": "clearCompleted"
		},
		initialize: function() {
			this.input    = this.$("#new-todo");

			Todos.bind('add',   this.addOne, this);
			Todos.bind('reset', this.addAll, this);
			Todos.bind('all',   this.render, this);

			Todos.fetch();
		},
		render: function() {
			this.$('#todo-stats').html(this.statsTemplate({
				total:      Todos.length,
				done:       Todos.done().length,
				remaining:  Todos.remaining().length
			}));
		},
		addOne: function(todo) {
			var view = new TodoView({model: todo});
			this.$("#todo-list").append(view.render().el);
		},
		addAll: function() {
			Todos.each(this.addOne);
		},
		newAttributes: function() {
			return {
				content: this.input.val(),
				order:   Todos.nextOrder(),
				done:    false
			};
		},
		createOnEnter: function(e) {
			if (e.keyCode != 13) {
				return;
			}
			Todos.create(this.newAttributes());
			this.input.val('');
		},
		clearCompleted: function() {
			_.each(Todos.done(), function(todo){ todo.destroy(); });
			return false;
		}
	});

	//	Link UI
	window.$App = new AppView;
});
</script>
</body>
</html>
