<!DOCTYPE HTML>
<html> <head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>Conformance Suite - JsRender</title>
<style>
body { margin: 0; padding: 0.5em }
tr.pass > td, body.pass { border: 2px solid green }
tr.fail > td, body.fail { border: 2px dotted red }
tr.disabled > td { border: 2px dotted #888; background: #eee; color: #444 }
tr.running > td { border: 2px solid yellow }
xmp { white-space: pre-wrap }
table.testtable > * > tr > td,
table.testtable > * > tr > th {
  vertical-align: top;
  empty-cells: show
}
/* data cells */
table.testtable > * > tr > th:nth-of-type(2),
table.testtable > * > tr > td:nth-of-type(2) {
  max-width: 40em
}
</style>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="../../jsrender.js" type="text/javascript"></script>
<script>
if (!Date.now) { Date.now = function () { return +new Date; }; }
var testFilter = /(?:)/;
var implementationName = "JsRender";
(function () {
  var match = location.search.match(/[&?]testFilter=([^&]*)/);
  if (match) {
    testFilter = new RegExp(decodeURIComponent(match[1]), "i");
  }
})();
</script>
<script>
var hasConsole = typeof console !== "undefined"
    && !/[&?]nolog\b/.test(location.search);

function trim(s) {
  return s.replace(/^\s+|\s+$/g, "");
}

function trimmedText(node) {
  return trim(node.textContent || node.innerText);
}

function runTests() {
  var nTests = 0, nPasses = 0;
  var rows = document.body.getElementsByTagName("TR");
  var t0 = Date.now();
  for (var j = 0; rows[j]; ++j) {
    var row = rows[j];
    if (/\bdisabled\b/.test(row.className)) { continue; }
    // Only consider rows in testtables.
    var table = row;
    while (table.tagName !== "TABLE") { table = table.parentNode; }
    if (!/\btesttable\b/.test(table.className)) { continue; }
    var cells = [];
    // Get child cells, not cells in nested tables.
    var header = null;
    for (var child = row.firstChild; child; child = child.nextSibling) {
      if (child.nodeType === 1) {
        if (child.tagName === "TD") { cells.push(child); }
        else if (child.tagName === "TH") { header = child; }
      }
    }
    if (!cells.length) { continue; }  // skip header rows
    var testName = header
        ? (header.innerText || header.textContent) : "unknown";
    if (!testFilter.test(testName)) { continue; }
    // Run the test.
    var pass = false;
    // In production, error checking is turned off.  We ignore failures to
    // produce an error in production mode and failureIgnored indicates that.
    var failureIgnored = false;
    if (hasConsole) { console.group(testName); }
    try {
      var testCell = cells[0], dataCell = cells[1],
          expectedCell = cells[2], actualCell = cells[3];
      var templateSource = trimmedText(testCell);
      var dataSource = trimmedText(dataCell);
      row.className = "running";
      var dataAndItems = null;
      var result = null;
      var parseTrees = null;
      var compiled = {};
      try {
        dataAndItems = new Function("return ([" + dataSource + "])")();
        var test = templateSource.indexOf("<script") > -1 && $( templateSource ).filter( "script");

        var l = test.length
        if ( l ) {
          $( document.body ).append( test.get() );
          templateSource = $("#main")[0].innerHTML;
        }
        var compiled = $.template("main", templateSource);
        result = $.render( compiled, dataAndItems[0], dataAndItems[1]);
      } catch (ex) {
        if (hasConsole && ex.stack) { console.error(ex.stack); }
        result = "Error:" + (ex.message || ex.description);
      } finally {
        while ( l-- > 0 ) {
          document.body.removeChild( test[ l ]);
        }
      }
      var expectedText;
      var normResult;
      if (/^Error:/.test(result)) {
        expectedText = trimmedText(expectedCell);
        actualCell.appendChild(document.createTextNode(result));
        normResult = trim(result);
        pass = /^Error:/.test(expectedText);
      } else {
        actualCell.innerHTML = result;
        normResult = actualCell.innerHTML;
        expectedText = expectedCell.innerHTML;
        pass = normResult === expectedText;
        // We are not required to report errors in production mode.
        if (!pass && /^Error:/.test(expectedText)
            && implementationName === "MINIFIED") {
          pass = failureIgnored = true;
        }
      }
      if (!pass && hasConsole) {
        console.error("%s !==\n%s",
            JSON.stringify(expectedText), JSON.stringify(normResult));
        console.log(
            "parseTrees=%o, dataAndItems=%o, compiled=%o",
            parseTrees, dataAndItems, compiled);
      }
    } finally {
      var classification = pass ? failureIgnored ? "disabled" : "pass" : "fail";
      row.className = classification;
      if (!failureIgnored) {
        ++nTests;
        if (pass) {
          ++nPasses;
        } else {
          var testCellId = testCell.id || (testCell.id = "testcell-" + nTests);
          var failureLink = $("<a></a>");
          failureLink[0].href = "#" + testCellId;
          var failure = $("<li></li>");
          failureLink.text(testName).appendTo(failure);
          failure.appendTo($("#failures"));
        }
      }
      if (hasConsole) {
        console.log(classification);
        console.groupEnd(testName);
      }
    }
  }

  var t1 = Date.now();
  var summary = " " + implementationName
      + " : " + nPasses + " / " + nTests + " in " + (t1 - t0) + " ms";
  document.title += summary;
  $("h1").append(summary);
  document.body.className += (nTests && nTests === nPasses) ? " pass" : " fail";
}
</script>
</head>

<body onload="runTests()">
<h1>Conformance Suite - JsRender</h1>

<p>
This is a conformance suite taken (with small adjustments) from Mike Samuel's <a href="https://github.com/mikesamuel/jquery-jquery-tmpl-proposal">jQuery Templates implementation proposal</a>, for testing conformance of JsRender.
</p>

<p>
Each row in the tables below is a test case.
</p>
<p>
This is work in progress. Note that not all the cases correspond exactly to an agreed jQuery Templates grammar. The grammar <a href="http://wiki.jqueryui.com/w/page/37898666/Template">here</a> is close, but not yet definitive. The following <a href="http://api.jquery.com/category/plugins/templates/">documentation</a>, though less detailed, is definitive for the current jQuery Templates design.
</p>

<h2>Legend</h2>
<p>
The "test" column includes the literal text of a template wrapped in
an <code>&lt;xmp&gt;</code> element.
<p>
The "data" column includes a data value as JavaScript text also
wrapped in an <code>&lt;xmp&gt;</code>.
<p>
The "expected" column shows the expected output of the template when
compiled and applied to the data.  If the output starts with "Error:"
then the compilation or application should fail with an exception, and
in debug mode should produce the following error message.
<p>
The "actual" column is auto-generated and contains the actual result
and is colored to indicate success or failure.
<p>
The right-most column, if any, includes explatory text about the test-case.
<p>
Any "test" cells whose content consists of named templates specified via
<code>&lt;script type="text/x-jquery-tmpl" id="template-name"&gt;</code>
elements will have all templates extracted and compiled as a bundle
and the template with <code>id="main"</code> will be the one applied.
</p>

<h2>Usage</h2>
<p>To test the reference implementation, add
<a href="?reference"><code>?reference</code></a> to the URL.</p>
<p>To test the reference implementation, add
<a href="?compressed"><code>?compressed</code></a> to the URL.</p>
<p>To run just some tests, add <code>?testFilter=&lt;RegExp&gt;</code>
where <code>&lt;RegExp&gt;</code> matches the right-most column, the
test description.</p>
<p>To turn off logging to the console, add <a href="?nolog"><code>?nolog</code></a> to the URL.</p>

<ul id="failures"></ul>

<p>
The tests below test the built-in operators that ship by default.
</p>
<table class="testtable" summary="Neither bells nor whistles">
  <tr><th>Test</th><th>Data</th><th>Expected</th><th>Actual</th></tr>
  <tr>
    <td><xmp></xmp></td>
    <td><xmp>{}</xmp></td>
    <td></td>
    <td></td>
    <th>Empty Template</th>
  </tr>
  <tr>
    <td><xmp>Hello, World!</xmp></td>
    <td><xmp>{}</xmp></td>
    <td>Hello, World!</td>
    <td></td>
    <th>Plain text</th>
  </tr>
  <tr>
    <td><xmp>Hello, &lt;World&gt;!</xmp></td>
    <td><xmp>{}</xmp></td>
    <td>Hello, &lt;World&gt;!</td>
    <td></td>
    <th>HTML entities preserved</th>
  </tr>
  <tr>
    <td>&#x10000;</td>
    <td><xmp>{}</xmp></td>
    <td>&#x10000;</td>
    <td></td>
    <th>Supplemental codepoints preserved</th>
  </tr>
  <tr>
    <td>&#xd800;-&#xdc00;</td>
    <td><xmp>{}</xmp></td>
    <td>&#xd800;-&#xdc00;</td>
    <td></td>
    <th>Orphaned surrogates preserved</th>
  </tr>
  <tr>
    <td><xmp>foo&#10;${"\n"}
bar</xmp></td>
    <td><xmp>{}</xmp></td>
    <td style="white-space: pre">foo


bar</td>
    <td style="white-space: pre"></td>
    <!-- There are multiple issues on newlines in the issue tracker
      - and if templates include JS, folding newlines can tickle
      - semicolon insertion in hard to debug ways. -->
    <th>Newlines preserved.</th>
  </tr>
  <tr>
    <td>a&#x2028;b${'\u2029'}c</td>
    <td><xmp>{}</xmp></td>
    <td>a&#x2028;b&#x2029;c</td>
    <td></td>
    <th>Unusual newlines</th>
  </tr>
  <tr>
    <td><xmp><span style=color:red>Hello</span>, World!</xmp></td>
    <td><xmp>{}</xmp></td>
    <td><span style=color:red>Hello</span>, World!</xmp></td>
    <td></td>
    <th>HTML tags preserved</th>
  </tr>
  <tr>
    <td><xmp>It costs $5, 5$.  {if} {{/- {{.</xmp></td>
    <td><xmp>{}</xmp></td>
    <td>It costs $5, 5$.  {if} {{/- {{.</td>
    <td></td>
    <th>Dollars and curlies in text</th>
  </tr>
  <tr>
    <td><xmp>Cow says m${x}, dog says ${y}k</xmp></td>
    <td><xmp>{ x: 'foo', y: 'bar' }</xmp></td>
    <td>Cow says mfoo, dog says bark</td>
    <td></td>
    <th>Substitution</th>
  </tr>
  <tr>
    <td><xmp>Cow says m{{= x}}, dog says {{= y}}k</xmp></td>
    <td><xmp>{ x: 'foo', y: 'bar' }</xmp></td>
    <td>Cow says mfoo, dog says bark</td>
    <td></td>
    <th>Substitution unabbreviated syntax</th>
  </tr>
  <tr>
    <td><xmp>Hello, ${world}!</xmp></td>
    <td><xmp>{}</xmp></td>
    <td>Hello, !</td>
    <td></td>
<!--This differs from Mike Samuel's design. ${undefined} evaluates to substitution of empty string. Not an error...-->
<th>Substitution w/out data</th>
  </tr>
  <tr>
    <td><xmp>i=${i}, f=${f}, nf=${nf}, nan=${nan}, inf=${inf}, nzero=${nzero}</xmp></td>
    <td><xmp>{ i: 42, f: 0.5, nf: -0.5, nan: NaN, inf: Infinity, nzero: -0 }</xmp></td>
    <td>i=42, f=0.5, nf=-0.5, nan=NaN, inf=Infinity, nzero=0</td>
    <td></td>
    <th>Substitution numbers</th>
  </tr>
  <tr>
    <td><xmp>s=${s}, n=${n}, nul=${nul}, supp=${supp}</xmp></td>
    <td><xmp>{ s: "Hello, World!", n: "42", supp: "\ud800\udc00", nul: "\u0000" }</xmp></td>
    <td>s=Hello, World!, n=42, nul=&#0;, supp=&#x10000;</td>
    <td></td>
    <th>Substitution strings</th>
  </tr>
  <tr>
    <td><xmp>orphans=${orphans}</xmp></td>
    <td><xmp>{ orphans: "\ud800-\udc00" }</xmp></td>
    <td>orphans=&#xd800;-&#xdc00;</td>
    <td></td>
    <th>Substitution non-unicode strings</th>
  </tr>
  <tr>
    <td><xmp>t=${t}, f=${f}</xmp></td>
    <td><xmp>{ t: true, f: false }</xmp></td>
    <td>t=true, f=false</td>
    <td></td>
    <th>Substitution booleans</th>
  </tr>
  <tr>
    <td><xmp>s=${s}, o=${o}, thunk=${thunk}, a=${a}</xmp></td>
    <td><xmp>{ s: new String("foo"), o: { toString: function () { return "[Obj]" } }, thunk: function () { return "Hello, World!"; }, a: [1, 2, 3] }</xmp></td>
    <td>s=foo, o=[Obj], thunk=Hello, World!, a=1,2,3</td>
    <td></td>
    <th>Substitution objects</th>
  </tr>
  <tr>
    <td><xmp>Hello, ${x}!</xmp></td>
    <td><xmp>{ x: { toString: function () { return "string"; }, valueOf: function (typeHint) { return "value"; } } }</xmp></td>
    <td>Hello, string!</td>
    <td></td>
    <th>toString vs valueOf</th>
  </tr>
  <tr>
    <td><xmp>i++=${i++}, i++=${i++}, readOnce=${readOnce}, counter=${counter}, counter=${counter}</xmp></td>
    <td><xmp>{ i: 0, readOnce: (function () { var run = false; return function() { if (run) throw Error(); run = true; return 42; }; })(), counter: (function () { var i = 0; return function () { return ++i; }; })() }</xmp></td>
    <td>i++=0, i++=1, readOnce=42, counter=1, counter=2</td>
    <td></td>
    <th>Substitution evaluation happens once and in order</th>
  </tr>
  <tr>
    <td><xmp><div title="${breaker}">${breaker}</div></xmp></td>
    <td><xmp>{ breaker: "-->]]></script></style></textarea>\" ' ) >" }</xmp></td>

    <td><div title="--&gt;]]&gt;&lt;/script&gt;&lt;/style&gt;&lt;/textarea&gt;&quot; ' ) &gt;">--&gt;]]&gt;&lt;/script&gt;&lt;/style&gt;&lt;/textarea&gt;&quot; ' ) &gt;</div></td>
    <!--"-->
    <td></td>
    <th>Substitution autoescaped</th>
  </tr>
  <tr>
    <td><xmp><b>{{if sayHello}}Hello{{else}}Goodbye{{/if}}</b>, ${world}!</xmp></td>
    <td><xmp>{ sayHello: true, world: "Cincinatti" }</xmp></td>
    <td><b>Hello</b>, Cincinatti!</td>
    <td></td>
    <th>If branch taken</th>
  </tr>
  <tr>
    <td><xmp><b>{{if sayHello}}Hello{{else}}Goodbye{{/if}}</b>, ${world}!</xmp></td>
    <td><xmp>{ sayHello: false, world: function () { return "Cleveland"; }}</xmp></td>
    <td><b>Goodbye</b>, Cleveland!</td>
    <td></td>
    <th>Else branch taken</th>
  </tr>
  <tr>
    <td><xmp><b>{{if sayHello}}Hello{{/if}}</b>, ${world}!</xmp></td>
    <td><xmp>{ sayHello: true, world: "Cincinatti" }</xmp></td>
    <td><b>Hello</b>, Cincinatti!</td>
    <td></td>
    <th>If branch taken no else</th>
  </tr>
  <tr>
    <td><xmp><b>{{if sayHello}}Hello{{/if}}</b>, ${world}!</xmp></td>
    <td><xmp>{ sayHello: false, world: function () { return "Cleveland"; }}</xmp></td>
    <td><b></b>, Cleveland!</td>
    <td></td>
    <th>No else branch</th>
  </tr>
  <tr>
    <td><xmp><b>{{if sayHello}}Hello{{else sayGoodbye}}Goodbye{{/if}}</b>, ${world}!</xmp></td>
    <td><xmp>{ sayHello: false, sayGoodbye: true, world: "Cincinatti" }</xmp></td>
    <td><b>Goodbye</b>, Cincinatti!</td>
    <td></td>
    <th>Condition in else taken</th>
  </tr>
  <tr>
    <td><xmp><b>{{if sayHello}}Hello{{else sayGoodbye}}Goodbye{{/if}}</b>, ${world}!</xmp></td>
    <td><xmp>{ sayHello: false, sayGoodbye: false, world: "Cincinatti" }</xmp></td>
    <td><b></b>, Cincinatti!</td>
    <td></td>
    <th>Condition in else not taken</th>
  </tr>
  <tr>
    <td><xmp><b>{{if sayHello}}Hello{{else}}Goodbye{{/if}}</b>, ${world}!</xmp></td>
    <td><xmp>{ sayHello: 1, world: "Cincinatti" }</xmp></td>
    <td><b>Hello</b>, Cincinatti!</td>
    <td></td>
    <th>If branch taken based on truthy value</th>
  </tr>
  <tr>
    <td><xmp><b>{{if sayHello}}Hello{{else}}Goodbye{{/if}}</b>, ${world}!</xmp></td>
    <td><xmp>{ sayHello: 0, world: function () { return "Cleveland"; }}</xmp></td>
    <td><b>Goodbye</b>, Cleveland!</td>
    <td></td>
    <th>Else branch taken based on falsey value</th>
  </tr>
  <tr>
    <td><xmp><ul>{{each arr}}<li value=\"${$index - -1}\">${$value}{{/each}}</ul></xmp></td>
    <td><xmp>{ arr: ["One", "Two"] }</xmp></td>
    <td><ul><li value=\"1\">One<li value=\"2\">Two</ul></td>
    <td></td>
    <th>Loop over array</th>
  </tr>
  <tr>
    <td><xmp><ul>{{each arr}}<li value=\"${$index - -1}\">${$value}{{/each}}</ul></xmp></td>
    <td><xmp>{ arr: [] }</xmp></td>
    <td><ul></ul></td>
    <td></td>
    <th>Loop over empty</th>
  </tr>
  <tr>
    <td><xmp><ul>{{each(i) arr}}<li value=\"${i - -1}\">${$value}{{/each}}</ul></xmp></td>
    <td><xmp>{ arr: ["One", "Two"] }</xmp></td>
    <td><ul><li value=\"1\">One<li value=\"2\">Two</ul></td>
    <td></td>
    <th>Loop with custom key variable name</th>
  </tr>
 <tr>
    <td><xmp><ul>{{each(k, v) arr}}<li value=\"${k - -1}\">${v}{{/each}}</ul></xmp></td>
    <td><xmp>{ arr: ["One", "Two"] }</xmp></td>
    <td><ul><li value=\"1\">One<li value=\"2\">Two</ul></td>
    <td></td>
    <th>Loop with custom variable names</th>
  </tr>
  <tr>
    <td><xmp><table>{{each(k,v) obj}}<tr><td>${k}</td><td>${v}</td></tr>{{/each}}</table></xmp></td>
    <!-- This assumes that object iteration order is stable across JS
      - implementations.  This is not valid according to the EcmaScript spec,
      - but is remarkably consistent.
      -->
    <td><xmp>{ obj: { "foo": "bar", "baz": "boo" } }</xmp></td>
    <td><table><tr><td>foo</td><td>bar</td></tr><tr><td>baz</td><td>boo</td></tr></table></td>
    <td></td>
    <th>Loop over associative array.</th>
  </tr>
    <tr>
    <td><xmp>
      <script type="text/x-jquery-tmpl" id="main">
        this x=${x}, {{tmpl "#that"}}
      </script>
      <script type="text/x-jquery-tmpl" id="that">
        that x=(${x})
      </script>
    </xmp></td>
    <td><xmp>{ x: "x" }</xmp></td>
    <td>this x=x, that x=(x)</td>
    <td></td>
    <th>Template Calls</th>
  </tr>
  <tr>
    <td><xmp>{{tmpl({ x, y }) "#that"}}</xmp></td>
    <td><xmp>{ x: "x" }</xmp></td>
    <td>Error:Invalid {{tmpl}} content: ({ x, y }) "#that"</td>
    <td></td>
    <th>Invalid Template Param</th>
  </tr>
  <tr>
    <td><xmp>{{tmpl({ x: y }) "#that}}</xmp></td>
    <td><xmp>{ x: "x" }</xmp></td>
    <td>Error:Invalid {{tmpl}} content: ({ x: y }) "#that</td>
    <td></td>
    <th>Invalid Template Selector</th>
  </tr>
  <tr>
    <td><xmp>
      <script type="text/x-jquery-tmpl" id="main">
        this x=${x}, {{tmpl({x: "y"}) "#that"}}
      </script>
      <script type="text/x-jquery-tmpl" id="that">
        that x=(${x})
      </script>
    </xmp></td>
    <td><xmp>{ x: "x" }</xmp></td>
    <td>this x=x, that x=(y)</td>
    <td></td>
    <th>Call with different data</th>
  </tr>
  <tr>
    <td><xmp>
      <script type="text/x-jquery-tmpl" id="main">
        this x=${++x}, {{tmpl({ x: ++x }) "#that"}}
      </script>
      <script type="text/x-jquery-tmpl" id="that">
        that x=(${++x})
      </script>
    </xmp></td>
    <td><xmp>{ x: 0 }</xmp></td>
    <td>this x=1, that x=(3)</td>
    <td></td>
    <th>Template Order of Evaluation</th>
  </tr>
  <tr>
    <td><xmp>${1}${1}</xmp></td>
    <td><xmp>{}</xmp></td>
    <td>11</td>
    <td></td>
    <th>String concatenation of adjacent subs</th>
  </tr>
  <tr>
    <td><xmp>${1 + 1}</xmp></td>
    <td><xmp>{}</xmp></td>
    <td>2</td>
    <td></td>
    <th>Arithmetic in substitution</th>
  </tr>
  <tr>
    <td><xmp>a[0].b[cStr]=${a[0].b[cStr]}</xmp></td>
    <td><xmp>{ a: [{ b: { c: 42 } }], cStr: "c" }</xmp></td>
    <td>a[0].b[cStr]=42</td>
    <td></td>
    <th>Member expressions</th>
  </tr>
  <tr>
    <td><xmp>undef=${x.undef}</xmp></td>
    <td><xmp>{ x: {} }</xmp></td>
    <td>undef=</td>
    <td></td>
    <th>Undefined member</th>
  </tr>
  <tr>
    <td><xmp>{{if n < 0}}-{{tmpl({ n: -n }) "main"}}{{else n >= 1}}.{{tmpl({n: n - 1}) "main"}}{{/if}}</xmp></td>
    <td><xmp>{ n: -3 }</xmp></td>
    <td>-...</td>
    <td></td>
    <th>Recursive template</th>
  </tr>
  <tr>
    <td><xmp>{{if typeof notDefinedInDataMap !== "undefined"}}${notDefinedInDataMap}{{else}}none{{/if}}</xmp></td>
    <td><xmp>{}</xmp></td>
    <td>none</td>
    <td></td>
    <th>Unreached variable need not be defined</th>
  </tr>
  <tr>
    <td><xmp>{{if cond}}foo{{else}}</xmp></td>
    <td><xmp>{}</xmp></td>
    <td>Error:Unclosed block directives if in {{if cond}}foo{{else}}</td>
    <td></td>
    <th>Missing {{/if}} error message</th>
  </tr>
  <tr>
    <td><xmp>{{if cond}}foo{{else}}bar{{else}}boo{{/if}}</xmp></td>
    <td><xmp>{}</xmp></td>
    <td>Error:{{else}} without condition must be last:{{if cond}}foo{{else}}bar{{else}}boo{{/if}}</td>
    <td></td>
    <th>Misplaced {{else}}</th>
  </tr>
  <tr>
    <td><xmp>{{if }}foo{{/if}}</xmp></td>
    <td><xmp>{}</xmp></td>
    <td>Error:{{if}} missing condition:{{if }}foo{{/if}}</td>
    <td></td>
    <th>Missing {{if}} condition</th>
  </tr>
  <tr>
    <td><xmp>All nature is but art {{unknown}} to thee.</xmp></td>
    <td><xmp>{}</xmp></td>
    <td>Error:I do not know how to compile {{unknown}}</td>
    <td></td>
    <th>Unknown directive name</th>
  </tr>
  <tr>
    <td><xmp>${i + (j}</xmp></td>
    <td><xmp>{ i: 1, j: 2 }</xmp></td>
    <td>Error:Invalid template substitution: i + (j</td>
    <td></td>
    <th>Catch obviously broken expressions early.</th>
  </tr>
  <tr>
    <td><xmp>{{= String()) } { (String()}}</xmp></td>
    <td><xmp>{ String: function () { return "String!"; } }</xmp></td>
    <td>Error:Invalid template substitution: String()) } { (String()</td>
    <td></td>
    <th>Unbracketing and rebracketing illegal.</th>
  </tr>
  <tr>
    <td><xmp>${arguments[0]}</xmp></td>
    <td><xmp>{ arguments: [42] }</xmp></td>
    <td>42</td>
    <td></td>
    <th>"arguments" as a data key</th>
  </tr>
  <tr>
<!--This differs from Mike Samuel's design. arguments[0] is not a data key, but is evaluated, correctly. Not an error...-->
    <td><xmp>${arguments[0]}</xmp></td>
    <td><xmp>{}</xmp></td>
    <td>[object Object]</td>
    <td></td>
    <th>"arguments" not present as a data key</th>
  </tr>
  <tr>
<!--This differs from Mike Samuel's design. ${undefined} evaluates to substitution of empty string. Not an error...-->
    <td><xmp>${delete arguments[0], arguments[0]}</xmp></td>
    <td><xmp>{}</xmp></td>
    <td></td>
    <td></td>
    <th>"arguments[0]" not present</th>
  </tr>
  <tr>
    <td><xmp>${$data.arguments = 42}, ${arguments}</xmp></td>
    <td><xmp>{}</xmp></td>
    <td>42, 42</td>
    <td></td>
    <th>"arguments" present as a data key</th>
  </tr>
  <tr>
    <td><xmp>${$view.foo}</xmp></td>
    <td><xmp>{}, { foo: 42 }</xmp></td>
    <td>42</td>
    <td></td>
    <th>Template options available</th>
  </tr>
  <tr>
    <td><xmp><script type="text/x-jquery-tmpl" id="main">
  ${$view.foo},{{tmpl({ "$view": { foo: "data" } }) "#t"}},${$view.foo}
</script>
<script type="text/x-jquery-tmpl" id="t">${$view.foo}</script>
</xmp></td>
    <td><xmp>{}, { foo: "option" }</xmp></td>
    <td>option,data,option</td>
    <td></td>
    <th>Data masking template options</th>
  </tr>
  <tr>
<!--This differs from Mike Samuel's design, where he supports {{tmpl(,{ "foo": "option2" }) "#t"}}-->
    <td><xmp><script type="text/x-jquery-tmpl" id="main">
  ${$view.foo},{{tmpl(null,{ "foo": "option2" }) "#t"}},${$view.foo}
</script>
<script type="text/x-jquery-tmpl" id="t">${$view.foo}</script>
</xmp></td>
    <td><xmp>{}, { foo: "option" }</xmp></td>
    <td>option,option2,option</td>
    <td></td>
    <th>Passing options</th>
  </tr>
  <tr>
    <td><xmp>${ob === $data}</xmp></td>
    <td><xmp>window.ob={}</xmp></td>
    <td>true</td>
    <td></td>
    <th>Maintain data identity</th>
  </tr>
</table>
<hr>
</body> </html>
